@import "~bootstrap/scss/bootstrap";


.btnFacebook {
  width: 200px;
  height:35px;
  border-radius: 4px;
  background: #3b5998;
  color:white;
  padding-left: 15px;
  border:0px transparent;
  margin-left: 23%;
}


.btnGoogle {
  width: 200px;
  height:35px;
  border-radius: 4px;
  background: #db3236;
  color:white;
  padding-left: 15px;
  border:0px transparent;
  margin-left: 23%;
}
