@import "~bootstrap/scss/bootstrap";


.btnFacebook {
  width: 200px;
  height:35px;
  border-radius: 20px;
  background: #3b5998;
  color:white;
  padding-left: 15px;
  border:0px transparent;
  margin-left: 23%;
}


.btnGoogle {
  width: 200px;
  height:35px;
  border-radius: 20px;
  background: #db3236;
  color:white;
  padding-left: 15px;
  border:0px transparent;
  margin-left: 23%;
}

// Acknowledgement:
// The following style classes are from Timeline
// Source: https://github.com/arunghosh/react-time-line
// Author: Arunghosh

.time-line-ctnr {
  .time-line {
    position: relative;
    margin: 0 0 0px 0;
    padding: 0;
    list-style: none;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: -10px;
      width: 2px;
      background: #3498db;
      left: 32px;
      border-radius: 2px;
    }
    > .time-label {
      > span {
        font-weight: 600;
        padding: 5px 10px;
        display: inline-block;
        background-color: #e74c3c;
        color: #fff;
        border-radius: 2px;
        font-size: 14px;
      }
    }
    > li {
      position: relative;
      margin-bottom: 10px;
      margin-right: 0;
      > .time-line-item {
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        border-radius: 3px;
        background: #fff;
        color: #444;
        margin-right: 15px;
        position: relative;
        margin-left: 50px;
        > .time-line-header,
        .time {
          font-size: 14px;
          padding: 6px 10px;
        }
        .time {
          font-size: 12px;
          color: #999;
          float: right;
        }
        .time-line-header {
          margin: 0;
          color: #555;
          border-bottom: 1px solid #f4f4f4;
          line-height: 1.1;
        }
      }
      > .fa {
        position: absolute;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        color: #666;
        background: #ecf0f1;
        left: 28px;
        top: 9px;
        border: 2px solid #3498db;
        display: inline-block;
        box-sizing: border-box;
      }
    }
  }
}

// Acknowledgement:
// The following style classes are from demo in MD Reactbootstrap
// Source: https://mdbootstrap.com/docs/react/forms/basic/
.form-elegant .font-small {
  font-size: 0.8rem;
 }

.form-elegant .z-depth-1a {
  -webkit-box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
  box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
 }


#sign-in-btn, #sign-up-btn {
  background-color: rgba(36, 133, 255, 0.15);
  transition: 0.5s;
  color: #FFF;
  box-shadow: 0 0 20px #eee;
  border-radius: 12px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px;
  display: inline-block;
  border-radius: 25px;
}

#sign-in-btn {
  background-image: linear-gradient(to right, #7474BF 0%, #348AC7 51%, #7474BF 100%)
}

#sign-up-btn {
  background-image: linear-gradient(to right, #2BC0E4 0%, #EAECC6 51%, #2BC0E4 100%)
}

#sign-in-button:hover {
  // background-position: right center;
  margin: 8px 10px 12px;
}

#sign-up-button:hover {
  // background-position: right, center;
  margin: 8px 10px 12px;
}

.label {
  font-size: 0.8rem;
}

#login-email, #login-password, #sign-name, #sign-password, #sign-email {
  border-radius: 25px;
}

#sign-up-btn {
  border-radius: 25px;
}
